<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="icon" href="https://cdn.glitch.global/74966f89-6b4a-4631-ad79-95f11a65e0dd/logo7.jpg?v=1697534616110" type="icon-x/image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />
    <style>
         nav{
            background-color: black; 
            width:100vw;
            height: 10vh;
            top:0px;
            left:0px;
            position: fixed;
            
        }
        .options{
            color: white;
            position: absolute;
            right: 0px;
            top:0px;
            width:50vw;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        
        }
        .options li,.dona-btn a{
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

        }
        .options li a:hover, .dona-btn  a:hover {
            color: black;
            background-color: white;
            height: 9vh;
            border-radius: 10%;
            transition: 1s;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
              
        }
        nav li{
            list-style: none;
        }
        nav ul li a{
            font-size: 20px;
            text-decoration: none;
            color: white;
        }
        .name{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            font-family: Lucida Calligraphy;
            font-size: 30px;
            
        }
        .name1{
            color: red;

        }
        .name2{
            color: white;
        }
        .name:hover{
            transition: 1s;
            font-size: 35px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            
        
        }
        
        @media screen and (max-width:600px){
            nav{
                width:40vw;
                height: 100vh;
                left:0px;
                top:0px;
                
                position: fixed;
            }
            nav ul{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: static;

            }
            .name{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
            font-family: lucida Calligraphy;

            font-size: 35px;

            
        }
        .name1{
            color: red;

        }
        .name2{
            color: white;
        }
            .options {
                flex-direction: column;
                left:0px;
                top:0px;
                width:100%;
                height: 55vh;
                margin-top: 7.5vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                
            }
            .dona-btn {
                width:100vw;
            }
            .options li {
                flex-direction: column;
                width: 100%;  

            }
            .options li a:hover,.dona-btn a:hover{
                width:100%;
                border-radius: 0%;
                
            }
            .drop{
                width: 100%;
                
            }
            .donation-content {
                display: none;
                position: absolute;
                background-color: #686363;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                margin-top: 0px;
                margin-right: -60px;
            
            }
            
        }
        .dona-btn{
            width: 100%;
            background-color: rgb(0, 0, 0);
           
        }
        .dona-btn a{
            width: 100%;
            height: 100%;
            color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            height: 10vh;
            background-color: rgb(0, 0, 0);
            font-size: 20px;
            text-decoration: none;
                
        }
       .drop .donation-content {
            font-size: 16px;  
            border: none;
            outline: none;
           
        }    
        .donation-content {
            display: none;
            position: absolute;
            background-color: #686363;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: -20px;
            margin-left: 30px;

        }
        .donation-content a {
            float: none;
            background-color: rgb(71, 67, 67);
            color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            font-size: 19px;
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
        }  
        
        .donation-content a:hover{
            color: black;
            background-color: rgba(88, 81, 81, 0);
            border-radius: 10%;
            transition: 1s;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }
        .drop:hover .donation-content{
            display: block;
            
        } 
        .logod{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center; 
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid white;
                       
        }
        body {
            font-family: Arial, sans-serif; /* Black background */
            color: #fff; /* White text color */
            margin: 0;
            padding: 0;
        }

        .container {
            /* max-width: 600px; */
            margin: 0 auto;
            padding: 20px;
            background-color: #000; /* Black container background */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-evenly;
            width: 100vw;

        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea {
            width: 600px;
            padding: 10px;
            border: 1px solid white; /* Red border */
            border-radius: 4px;
            margin-top: 5px; /* White text color */
        }

        textarea {
            resize: vertical;
        }

        input[type="submit"] { /* Red background */
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
            color: black;
        }

        input[type="submit"]:hover {
            background-color: red; /* Darker red on hover */
        }

        

        footer{
            /* border:  2px solid black; */
            width: 100vw;
            height: 360px;

            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-evenly;
            background-color: white;
            margin-top: 6vh;
        }
        .foot{
            display: flex;
            flex-direction: row;

        }
        
        #rec,#oth{
            height: 260px;
            width: 500px;
            
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* align-items; */
            color: #000;

            

        }
       
        .name11{
            font-size: 30px;
            text-align: center;


        }
        
        .c1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .c2{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            align-items: center;
            margin-bottom: 20px;
        }
        i{
            font-size: 40px;
            
        }
        #tw{
            color: rgba(57,147,235,255);
        }
        #em{
            color:rgba(248,68,55,255) ;
        }
        #gi{
            margin-left: 10px;
            color: rgba(0,0,0,255);
        }
        #li{
            margin-left: 20px;
            color:rgba(0,123,181,255) ;
        }

        #wh{
            color:rgb(54, 187, 34);
        }
        #ph{
            color:rgba(0,0,0,255) ;
        }
        #fa{
            color:rgba(24,119,242,255) ;
        }
        #in{
            margin-left: 5px;
            color:rgba(154,76,195,255);
        }
        #tw:hover ,#em:hover ,#gi:hover ,#li:hover ,#wh:hover ,#ph:hover ,#fa:hover ,#in:hover{
            font-size: 53px;
            transition: 2s;
        }
        


        .logo_body img{
            height: 100px;
            width:100px;
            border-radius: 50%;
            top:11vh;
            right: 8px;
            position: fixed;
            
        }

        .logo_body img{
            height: 110px;
            width:110px;
            border-radius: 50%;
            
            top:80px;
            right: 8px;
            position: fixed;
            z-index: 10; 
            
        }

        
    </style>
</head>
<body>
    <div class="top">
        <nav>
            <ul>
                <li class="name"><span class="name1">Explore</span> <span class="name2">Epic</span><span class="name1">...</span></li>
                <div class="options">
                    <li><a class="active" href="/home" target="_self" title="Home">Home</a></li>
                    <li><a class="active" href="/explore" target="_self" title="Explore Tirupati">Explore</a></li>
                    <div class="drop">
                        <p class="dona-btn" ><a class="active" class="dona-btn-a" href="/nearby" target="_self" title="Nearby Places to VISIT">Nearby</a></p>
                        <div class="donation-content">
                            <a href="/chikkamagaluru">Chikkamagaluru</a>
                            <a href="/coimbatore">Coimbtore</a>
                            <a href="/kanchi">Kanchi</a>
                            <a href="/madhurai" >Madhurai</a>
                            <a href="/madikeri">Madikeri</a>
                            <a href="/mysore"> Mysore</a>
                            <a href="/padmanaba">Anantha Padmanaba </a>
                            <a href="/sriharikota">Sriharikota  </a>
                            <a href="/wayanad">Wayanad</a>
    
                        </div>
                    </div>
                    <li><a class="active" href="/transport" target="_self" title="Tranport Facility">Transport</a></li>
                    <li><a class="active" href="/contact"target="_self" title="In order to Contact us">Contact</a></li>
                </div>
            </ul>
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62039.89194452979!2d79.38725228781477!3d13.62773296561731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4b08f9e26b19%3A0x95af7fa0239cf91d!2sTirupati+Tirumala+Tours+and+Travels!5e0!3m2!1sen!2sin!4v1450258626729" width="750" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div>
            <form>
                <div>
                    <h2 align="center">Contact Us</h2>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" placeholder="Enter Email Address" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="number" id="phone" placeholder="Phone Number" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input type="text" id="location" placeholder="Location" required>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" placeholder="Message" name="message" rows="6" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <p class="logo_body"><img src="https://cdn.glitch.global/74966f89-6b4a-4631-ad79-95f11a65e0dd/logo11.jpg?v=1697535569992" alt="">
        </div>
        <footer>
            <div><center><h1 style="color:black; font-size: xx-large;">... Get in Touch</h1></center>
            </div>
            <div class="foot">
              <div id="rec">
                <p class="name11"><strong>Recommeended</strong></p>
                
                <div class="c2">
                    <div class="c1">
                        <a href="https://twitter.com/A1264M"><i class="fa-brands fa-square-twitter" id="tw"></i></a>
                        <em>kundhumaddisetti</em>
                    </div>
                
                    <div class="c1">
                        <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fa-regular fa-envelope" id="em"></i></a>
                        <em>moni2003@gmail.com</em>
                    </div>
                </div>
                
                <div class="c2">
                    <div class="c1">
                        <a href="https://github.com/kundhanamaddisetti"><i class="fa-brands fa-github" id="gi"></i></a>
                        <em>kundhanamaddisetti</em>
                    </div>
        
                    <div class="c1">
                        <a href="https://www.linkedin.com/in/kundhana-lalitha-naga-sri-maddisetti-197b73239/"><i class="fa-brands fa-linkedin" id="li"></i></a>
                        <em>Kundhana</em>
                    </div>
                </div>
                
  
                
            </div>
            
            <div id="oth">
                <p class="name11"><strong>Other methods</strong></p>
                <div class="c2">
                    <div class="c1">
                        <a href="#"><i class="fa-brands fa-square-whatsapp" id="wh"></i></a>
                        <em>xxxxx 18101</em>
                    </div>
                    <div class="c1">
                        <a href="#"><i class="fa-solid fa-phone" id="ph"></i></a>
                        <em>xxxxx 18101</em>
                    </div>
                </div>
                
                
                <div class="c2">
                    <div class="c1">
                        <a href="https://www.facebook.com/profile.php?id=100075638365796&mibextid=ZbWKwL"><i class="fa-brands fa-facebook" id="fa"></i></a>
                        <em>Parameswari Jagarlamudi</em>
                    </div>
                    <div class="c1">
                        <a href="https://instagram.com/kundhuu19?utm_source=qr&igshid=OGU0MmVlOWVjOQ=="><i class="fa-brands fa-instagram" id="in"></i></a>
                        <em>kundhana</em>
                    </div>
                </div>
            </div>
            </div>
       </footer>
</body>
</html>
















