<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="icon" href="https://cdn.glitch.global/74966f89-6b4a-4631-ad79-95f11a65e0dd/logo7.jpg?v=1697534616110" type="icon-x/image">
    <title>Document</title>
    <style>

        body{
            background-image: url("https://cdn.glitch.global/74966f89-6b4a-4631-ad79-95f11a65e0dd/backgorund.jpg?v=1697538074256");
            background-repeat: no-repeat;
            background-size:100vw 100vh;
            
        }
        .bottom2{
            position:fixed;
            top:0px;
            right: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100px;
            width: 200px;
            /* border: 2px solid rgb(255, 255, 255); */
        }

        a{
            background-color: white;
            color:black;
            text-decoration: none;
            width: 70px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 20px;
        }
        #ll{
            width: 70px;
            height: 70px;
            border-radius: 50px;
        }
    </style>
</head>
<body>
    <div class="bottom2">
            
        <a href="http://localhost:3003/signup">SignUp</a>
        <a href="http://localhost:3003/login">Login</a>
    </div>

    <p class="name"><span><img id= "ll" src="https://cdn.glitch.global/74966f89-6b4a-4631-ad79-95f11a65e0dd/logo7.jpg?v=1697534616110" alt=""></span><span class="name1">HELPING</span> <span class="name2">HANDS</span><span class="name1">...</span></p>
 


</body>
</html>